---
import Layout from '../layouts/layout.astro';
import Splash from '../components/splash.astro';
import Wine from '../components/wine.astro';
---

<Layout title="Whisky">
	<main>
		<Splash />
		<Wine />
	</main>
</Layout>