---
import Layout from '../layouts/layout.astro';
import Splash from '../components/splash.astro';
import Wine from '../components/wine.astro';
import Marquee from '../components/marquee.astro';
import Bento from '../components/bento.astro';
---

<Layout title="Whisky">
	<main>
		<Splash />
		<Wine />
		<Marquee />
		<Bento />
	</main>
</Layout>