---
interface Props {
    title: string;
    description: string;
    image: string;
    alt: string;
    reverse?: Boolean;
    row?: Boolean;
}

const { title, description, image, alt, reverse = false, row = false } = Astro.props;
---

<div class=`bg-gray-200 dark:bg-gray-800 p-5 gap-5 rounded-xl transition duration-300 group hover:ease-in-out hover:scale-102 hover:bg-gradient-to-br from-gray-200/10 to-transparent flex ${ "flex-" + (row ? "row" : "col") + (reverse ?  "-reverse" : "")} flex-grow`>
    <div class="flex flex-[60%] items-center justify-center">
        <img class="max-h-[13rem] h-auto w-auto block" src={image} alt={alt} />
    </div>
    <div class="flex flex-col justify-center flex-[40%]">
        <p class="font-extrabold text-2xl transition duration-300 group-hover:ease-in-out group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r group-hover:from-amber-500 group-hover:to-red-500">{title}</p>
        <p class="text-sm text-gray-600 dark:text-gray-400 transition duration-300 group-hover:ease-in-out group-hover:text-black dark:group-hover:text-white">{description}</p>
        <slot/>
    </div>
</div>

<!-- Ensure that all of these classes are defined -->
<div class="flex-row flex-col flex-row-reverse flex-col-reverse hidden" />