---
import { astroI18n } from "astro-i18n";

var map = {
    "en": "English",
    "de": "Deutsch",
    "es": "Español",
    "fr": "Français",
    "it": "Italiano",
    "ja": "日本語",
    "ko": "한국어",
    "nl": "Nederlands",
    "pt": "Português",
    "pt-BR": "Português (Brasil)",
    "uk": "Українська",
    "zh-Hans": "简体中文",
    "zh-Hant": "繁体中文"
}
---

<div class="relative inline-block text-left">
    <div>
        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white dark:bg-black px-3 py-2 text-sm font-semibold text-gray-900 dark:text-gray-400 ring-1 hover:bg-gray-2 dark:hover:bg-gray-9" id="menu-button" aria-expanded="true" aria-haspopup="true">
            { map[astroI18n.langCode] }
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    <div class="absolute right-0 z-10 mt-2 w-45 origin-top-right rounded-md bg-white dark:bg-black ring-1 focus:outline-none" role="menu" id="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            {astroI18n.langCodes.filter(e => e !== astroI18n.langCode).sort().map((lang) =>
                <a href={"/" + (lang == astroI18n.defaultLangCode ? "" : lang)} class="hover:bg-gray-2 dark:hover:bg-gray-9 text-gray-700 dark:text-gray-400 block px-4 py-2 text-sm" role="menuitem">{ map[lang] }</a>
            )}
        </div>
    </div>
</div>

<script lang="ts">
    var menu = document.getElementById("menu");
    var menuButton = document.getElementById("menu-button");
    menu.style.display = "none";

    menuButton.addEventListener("click", () => {
        if (menu.style.display == "none") {
            menu.style.display = "inline";
        } else {
            menu.style.display = "none";
        }
    });

    window.addEventListener("click", (e) => {
        if (!menu.contains(e.target) && !menuButton.contains(e.target)) {
            menu.style.display = "none";
        }
    })
</script>