---
function getYear() {
    return new Date().getFullYear();
}
---

<div class="flex items-center justify-center p-10">
    <p class="text-black dark:text-white">
        <i class="fa-regular fa-copyright"></i> - Whisky { getYear() }
    </p>
</div>