<div class="absolute w-100% flex justify-center sm:justify-end items-center gap-5 font-bold text-2xl p-5 text-gray-500">
    <a href="https://discord.gg/CsqAfs9CnM" aria-label="Join Whisky's Discord" target="_blank" rel="noreferrer noopener" class="fa-brands fa-discord" />
    <a href="https://github.com/Whisky-App/Whisky" aria-label="Go to Whisky's GitHub" target="_blank" rel="noreferrer noopener" class="fa-brands fa-github" />
    <button class="theme hidden dark:inline fa-solid fa-sun" aria-label="Switch to light theme"></button>
    <button class="theme inline dark:hidden fa-solid fa-moon" aria-label="Switch to dark theme"></button>
</div>

<script lang="ts">
    const buttons = document.querySelectorAll("button.theme");
    const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)");

    function updateTheme(dark) {
        if (dark) {
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }
    }

    if (darkThemeMq.matches) {
        updateTheme(true);
    } else {
        updateTheme(false);
    }

    darkThemeMq.addEventListener('change', (e) => {
        if (e.matches)
        {
            updateTheme(true)
        } else {
            updateTheme(false)
        }
    })

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            if (document.documentElement.classList.contains("dark")) {
                updateTheme(false)
            } else {
                updateTheme(true)
            }
        });
    });
</script>