---

---

<div class="fixed bottom-20 text-white flex w-[100vw] justify-around text-center">
    <div class="bg-amber-900 mx-10 p-5 border-2 border-amber-600 rounded-4xl">
        <p><a href="https://docs.getwhisky.app/maintenance-notice" class="text-amber-500 underline">Whisky is no longer actively maintained</a>. Apps and games may break at any time.</p>
    </div>
</div>