<script lang="ts">
window.addEventListener(
    "scroll",
    () => {
        var scroll = (window.scrollY - document.getElementsByClassName("supercharged")[0].offsetTop + window.innerHeight) /  window.innerHeight;
        scroll = Math.min(Math.max(scroll, 0), 1);

        document.body.style.setProperty(
            "--scroll-supercharged",
            scroll.toString()
        );
    },
    false
);
</script>

<div>
    <div class="bg-white dark:bg-black h-[70vh] flex items-center justify-center items-center flex-col">
        <h1 class="text-4xl md:text-6xl xl:text-8xl font-extrabold text-black dark:text-white">Wine</h1>
        <h1 class="text-4xl md:text-6xl xl:text-8xl font-extrabold italic text-transparent bg-clip-text bg-gradient-to-r from-amber-500 to-red-500 pb-5 supercharged">Supercharged...</h1>
        <p class="text-black dark:text-white text-center tracking-wide text-sm sm:text-lg md:text-xl">with the power of Apple's Game Porting Toolkit.</p>
    </div>
</div>

<style>
    @keyframes size {
        to {
            transform: scale(1.2);
        }
    }

    .supercharged {
        animation: size 0.5s ease-in-out infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll-supercharged) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
</style>