---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Notice from '../components/notice.astro';
import { astroI18n, t } from 'astro-i18n';
import "../styles/global.css";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={astroI18n.langCode} class="dark">
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width initial-scale=1.0, viewport-fit=cover" />
        <link rel="icon" type="image/png" href="https://getwhisky.app/favicon.png" />
        <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"></noscript>
        <meta name="generator" content={Astro.generator} />
		<meta name="description" content=`${ t("header.description") }` />
        <meta name="keywords" content="mac, gaming, mac gaming, games for mac, mac open source, gptk, game porting toolkit, wine, wine mac">
        <meta name="robots" content= "index, follow">
        <link rel="canonical" href="https://getwhisky.app"/>
		<title>{title}</title>
        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b6ca967169cc400a909ea86827189873"}'></script>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@isaacmarovitz"/>
        <meta name="twitter:title" content=`Whisky - ${ t("header.description") }`>
        <meta name="twitter:description" content=`${ t("header.embed") }`>
        <meta name="twitter:image" content="https://getwhisky.app/square-icon.png">
        <meta property="og:title" content=`Whisky - ${ t("header.description") }`>
        <meta property="og:url" content="https://getwhisky.app">
        <meta property="og:description" content=`${ t("header.embed") }`>
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://getwhisky.app/square-icon.png">
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "SoftwareApplication",
            "name": "Whisky for macOS",
            "image": "https://getwhisky.app/icon.webp",
            "url": "https://getwhisky.app/",
            "downloadUrl": "https://github.com/Whisky-App/Whisky/releases/latest",
            "operatingSystem": "Mac",
            "applicationCategory": "UtilitiesApplication",
            "offers": {
                "@type": "Offer",
                "price": "0"
            }
        }
        </script>
    </head>
    <body class="bg-gray-200 dark:bg-gray-900">
        <Header />
        <slot />
        <Notice />
        <Footer />
    </body>
</html>